*.in
*.out
!*test*.in
.vscode
ignored/*
withgoogle/foobar/*
withgoogle/judges/*
withgoogle/**/InteractiveRunner.py
withgoogle/interactive/**/Judge.py
withgoogle/interactive/**Judge.py
spoilers/
projecteuler/**
kata/**